.inputlist-label {
	display table
	font-size 1em
	border none
	color black
	width 100%
	background-color rgba(245,245,245,.97)
	padding 0 0 0 1em!important;
	margin-right 10px
}
 
.inputlist-label:hover {
 	background-color rgba(240,240,240,.97)
}
 
.inputlist-field {
 	border none !important
 	background-color transparent !important
 	font-weight 500
 	text-align right
 	font-size 1em
 	width 90%
 	display table-cell
 	padding .7em 1em .7em .6em !important
 	border-top-left-radius 8px
    border-top-right-radius 8px
    border-bottom-left-radius 8px
    border-bottom-right-radius 8px
    margin-bottom 3px
    margin-left 10px
}
 
.inputlist-span {
 	display table-cell
 	font-weight 400
 	width 15%
 	white-space nowrap
}
 
.inputlist-label:first-child {
 	border-top-right-radius 10px
 	border-top-left-radius 10px
}
 
.inputlist-label:last-child {
 	border-bottom-right-radius 10px
 	border-bottom-left-radius 10px
}

#userlogin-div-e2 {
	margin-top 20px 
	margin-bottom 20px
	padding-left 50px 
}

#submitLoginWrapper {
	text-align center
	margin-top 5px
	padding-left 50px
}

#userlogin-wrong-data {
	text-align center
    color red
    margin-top 5px
    font-weight bolder
    padding-left 50px
}

#userlogin-div-e2 {
	text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.extraInput {
	width 80% !important
}